Package: com.roothide.patcher
Name: RootHide Patcher
Version: 1.5
Architecture: iphoneos-arm64e
Depends: firmware (>= 15.0), odcctools, ldid, file, dpkg, gawk, plutil(>= 0.2.2-1), rsync
Description: 一款将无根插件转换的roothide插件的程序，由M哥编译汉化.
Maintainer: RootHide
Author: RootHide
Section: Utilities
Icon: https://github.com/RootHide/RootHidePatcher/blob/master/derootifier-2-modified.png?raw=true
Depiction: https://github.com/RootHide/RootHideManagerApp
Support: https://github.com/RootHide/RootHideManagerApp
